:root {
  /**
  Color
   */
  --first-dark: #000000;
  --first-extra-dark: #333333;
  --first-light-dark: #666666;
  --second-dark: #5496BD;
  --second-extra-dark: #669EC0;
  --second-light-dark: #81B3D2;
  --third-dark: #503E33;
  --third-extra-dark: #604E43;
  --third-light-dark: #766357;
  --fourth-light: #E5E5E5;
  --fourth-light-dark: #F2F2F2;
  --fourth-dark: #EBEBEB;
  --fifth-color: #FFFFFF;
  --sixth-color: #A9A9A9;
  --seventh-color: #6A6A6A;
  --eighth-color: #CACACA;
  --ninth-color: #EEEEEE;
  --tenth-color: rgba(255, 255, 255, 0.3);

  /**
  Font
   */
  --font-weight-bold: 700;
  --font-weight-normal: 400;

  /**
   Font size
    */
  --font-size-first: 12px;
  --font-size-second: 14px;
  --font-size-third: 16px;
  --font-size-fourth: 21px;
  --font-size-fifth: 30px;

  /**
 Font line height
  */
  --font-height-first: 18px;
  --font-height-second: 19px;
  --font-height-third: 21px;
  --font-height-fourth: 24px;
  --font-height-fifth: 26px;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.page {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: var(--font-size-second);
  line-height: var(--font-height-fifth);
  font-weight: var(--font-weight-normal);
  background: var(--fourth-light-dark);
  color: var(--first-dark);
  text-transform: uppercase;
}

.wrap {
  margin: 0 auto;
  background: var(--fifth-color);
  min-width: 1200px;
  max-width: 1200px;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.nav-link {
  color: var(--first-dark);
  font-weight: var(--font-weight-bold);
}

.nav-link:hover {
  color: var(--second-light-dark);
}

.nav-link:active {
  color: var(--first-dark);
  opacity: 0.3;
}

.nav-link-active {
  color: var(--third-light-dark);
}

.main-promo {
  text-align: center;
}

.promo-slider {
  background: url("../img/logo/promo-bottom.png") no-repeat center bottom 0, url("../img/logo/promo-index.jpg") no-repeat center 0;
  padding-top: 70px;
  padding-bottom: 79px;
}

.promo-why-header {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-fourth);
  margin: 0;
}

.promo-header {
  padding-top: 42px;
  padding-bottom: 48px;
}

.promo-causes .promo-text, .promo-why-header {
  color: var(--first-extra-dark);
}

.promo-text {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-second);
  line-height: var(--font-height-fifth);
  margin: 0;
  margin-top: 48px;
}

.promo-article {
  padding-top: 43px;
  padding-bottom: 52px;
}

.grid-text {
  grid-area: text;
}

.promo-article h3 {
  font-size: var(--font-size-fourth);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-height-third);
}

.promo-number, .promo-article p {
  font-size: var(--font-size-second);
  font-weight: var(--fonpromo-slidert-weight-normal);
  line-height: var(--font-height-third);
}

.header-hidden {
  display: none;
}

.promo-list {
  padding: 0px;
  margin: 0px;
  line-height: var(--font-height-third);
}

.promo-list span {
  font-size: var(--font-size-fourth);
  font-weight: var(--font-weight-bold);
}

.promo-list p {
  font-size: var(--font-size-second);
  font-weight: var(--font-weight-normal);
}

.bg-light {
  background: var(--second-light-dark);
  color: var(--fifth-color);
}

.bg-dark {
  background: var(--ninth-color);
  color: var(--first-dark);
}

.promo-causes h2 {
  font-size: var(--font-size-fifth);
  line-height: var(--font-height-fourth);
  font-weight: var(--font-weight-bold);
}

.header-dark {
  font-size: var(--font-size-fourth);
  line-height: var(--font-height-fifth);
  font-weight: var(--font-weight-bold);
  color: var(--fifth-color);
  background: var(--third-light-dark);
}

.button-dark:hover {
  color: var(--fifth-color);
  background: var(--third-extra-dark);
}

.button-dark:active {
  background: var(--third-dark);
  color: var(--tenth-color);
}

.promo-text-map {
  font-size: var(--font-size-second);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-height-fourth);
  margin-top: 0;
  margin-bottom: 35px;
}

.modal {
  background: var(--fifth-color);
}

.find-date {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-second);
  line-height: var(--font-height-fifth);
}

.button-light {
  font-size: var(--font-size-fourth);
  line-height: var(--font-height-fifth);
  font-weight: var(--font-weight-bold);
  color: var(--fifth-color);
  background: var(--second-light-dark);
  border: 0;
}

.button-light:hover {
  color: var(--fifth-color);
  background: var(--second-extra-dark);
}

.button-light:active {
  background: var(--second-dark);
  color: var(--tenth-color);
}

.find-form input[type="date"],
.find-form input[type="number"] {
  background: var(--fourth-light-dark);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-second);
  line-height: var(--font-height-second);
}

.find-form input[type="date"]:hover,
.find-form input[type="number"]:hover {
  background: var(--fourth-dark);
}

.find-form input[type="date"]:focus,
.find-form input[type="number"]:focus {
  border: 2px solid var(--fourth-light);
  background: var(--fifth-color);
}

.footer-company p,
.link-footer {
  font-size: var(--font-size-fourth);
  line-height: var(--font-height-fifth);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  color: var(--first-dark);
}

.link-footer:hover,
.link-footer:focus {
  text-decoration: none;
}

.filter-wrap {
  background: url("../img/logo/promo-index.jpg");
}

.filter-form legend {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-third);
  line-height: var(--font-height-third);
  color: var(--fifth-color);
}

.filter-form fieldset {
  border: 0;
}

.filter-form label {
  font-size: var(--font-size-second);
  line-height: var(--font-height-third);
  font-weight: var(--font-weight-normal);
  color: var(--fifth-color);
}

.form-price label {
  border: 2px solid var(--fifth-color);
  box-sizing: border-box;
  border-radius: 2px;
  border-right: 0;
  margin: 0;
}

.form-price input[type="text"] {
  border: 2px solid var(--fifth-color);
  border-left: 0;
  background: transparent;
  color: var(--fifth-color);
}

.form-price input[type="text"]::placeholder {
  color: var(--fifth-color);
}

.filter-button {
  background: transparent;
  border: 2px solid var(--fifth-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-second);
  line-height: var(--font-height-third);
  color: var(--fifth-color);
  text-transform: uppercase;
}

.filter-button:hover {
  background: var(--fifth-color);
  border: 2px solid var(--fifth-color);
  color: var(--first-dark);
}

.sort-wrap .sort-head {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-fourth);
  line-height: var(--font-height-fifth);
}

.sort-wrap h2 {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-first);
  line-height: var(--font-height-first);
}

.sort-link {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-first);
  line-height: var(--font-height-first);
  color: var(--first-dark);
  opacity: 0.3;
  border-bottom: 1px dashed var(--second-light-dark);
}

.sort-link:hover {
  color: var(--second-light-dark);
  opacity: 1;
  border-bottom: 1px dashed var(--second-light-dark);
}

.sort-link:active {
  color: var(--first-dark);
  opacity: 1;
  border-bottom: 0;
}

.sort-link-active {
  color: var(--second-light-dark);
  opacity: 1;
  border-bottom: 0;
}

.sort-button {
  fill: var(--eighth-color);
}

.sort-button:hover {
  fill: var(--first-dark);
}

.sort-button:active,
.sort-button-active {
  fill: var(--second-light-dark);
}

.catalog-list {
  padding: 0;
}

.catalog-item {
  border-bottom: 1px solid var(--fourth-light);
  border-top: 1px solid var(--fourth-light);
}

.item-header {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-fourth);
  line-height: var(--font-height-fifth);
}

.item-header:hover {
  color: var(--second-light-dark);
}

.item-header:active {
  color: var(--first-dark);
  opacity: 0.3;
}

.item-text {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-second);
  line-height: var(--font-height-third);
}

.button-dark {
  color: var(--fifth-color);
  background: var(--third-light-dark);
  border: 0;
}

.button-dark-modal {
  width: 568px;
  line-height: 86px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: auto;
}

.button-dark:hover {
  color: var(--fifth-color);
  background: var(--third-extra-dark);
}

.button-dark:active {
  background: var(--third-dark);
  color: var(--tenth-color);
}

.button-item {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-second);
  line-height: var(--font-height-third);
}

.item-rating {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-second);
  line-height: var(--font-height-third);
  background: var(--fourth-light-dark);
  color: var(--first-light-dark);
}

.item-star {
  background: url("../img/favicon/star.svg") repeat-x;
}

.item-star-one {
}

.item-star-two {
}

.item-star-three {
}

.item-star-four {
}

.item-star-five {
}

.promo-why {
  grid-area: why;
}

.promo-article-img {
  grid-area: image;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.promo-item {
  grid-template-areas: "text image image";
}

.promo-reverse {
  grid-template-areas: "image image text";
}

.promo-list-item {
  padding-top: 60px;
  padding-bottom: 80px;
}

.promo-list-img {
  margin-bottom: 28px;
}

.promo-list-header {
  display: block;
  margin-bottom: 28px;
}

.promo-list-text {
  margin: 0;
}

.promo-article-header {
  margin-top: 0;
  margin-bottom: 28px;
}

.promo-number {
  display: block;
  margin-bottom: 28px;
}

.promo-article-text {
  margin: 0;
}

.promo-causes-header {
  margin-top: 0;
  margin-bottom: 35px;
}

.header-hidden {
  margin: 0;
  visibility: hidden;
}

.promo-causes {
  padding-top: 55px;
}
